[submodule "proteosafe/CCMSDeployments"]
	path = proteosafe/CCMSDeployments
	url = https://github.com/CCMS-UCSD/CCMSDeployments.git
[submodule "proteosafe/CCMS-Integration-Tests"]
	path = proteosafe/CCMS-Integration-Tests
	url = https://github.com/CCMS-UCSD/CCMS-Integration-Tests.git
