process {
  cpus=1
  //memory=16.GB
  maxForks=200
  queue='limitq'
  //cache=true
  //cleanup=true
  scratch='/scratch/nextflow'

  withName: queryData {
      time = '2h'
  }

  withName: queryData2 {
      time = '2h'
  }

  withName: summarizeExtracted {
      memory = 64.GB
  }

  withName: formatExtractedSpectra {
      memory = 64.GB
  }

  withName: summarizeResults {
      memory = 32.GB
  }

}

executor{
    name = 'pbs'
    queueSize = 200
}

