Flask
gunicorn
plotly
pandas
requests
requests_cache
tqdm
Werkzeug
Flask-Caching
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash_daq
celery==5.2.1
pymzml
lark-parser
pyarrow
ray
tqdm
py_expression_eval
matchms
pyteomics
psims
plotly
kaleido
pydot
redis
openpyxl