# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unit Testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unit-testing-parse:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Setup Graphviz
      uses: ts-graphviz/setup-graphviz@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements.txt ]; then pip install -r requirements_test.txt; fi
    - name: Parsing Testing
      run: |
        pytest -vv --cov=massql ./tests/test_parse.py
    - name: Download Test Data
      run: |
        cd tests && sh ./get_data.sh
        cd ..
    - name: Major Testing
        pytest --cov=massql --capture=tee-sys -vv ./tests/test_query.py -n 2
        pytest --cov=massql --capture=tee-sys -vv ./tests/test_extraction.py -n 2
        pytest --cov=massql --capture=tee-sys -vv ./tests/test_visualize.py -n 2
        pytest --cov=massql --capture=tee-sys -vv ./tests/test_translate.py -n 2
        pytest --cov=massql --capture=tee-sys -vv ./tests/test_file_loading.py
        
